html {
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 400;
}

/*borders to see elements
div, nav, header, img, span {
  border: 1px solid green;
}*/

/* Text Elements */

h1 {
  color: rgba(34, 34, 34, 1);
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2em;
}

h2 {
  color: rgba(68, 68, 68, 1);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4em;
}

h3 {
  color: rgba(51, 51, 51, 1);
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 1.2em;
}

p {
  color: rgba(100, 100, 100, 1);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.9rem;
  letter-spacing: .025rem;
}

nav, nav .cntr, .bnnr, .content, .content-right, .feature,  .content2, .classes, footer, footer ul {
  display: flex;
}

.bnnr .cntr, .mobile .feature, .content2, .content-right {
  flex-direction: column;
}

.top.content-right, .classes {
  justify-content: center;
}

nav, footer {
  justify-content: space-between;
}

.content-left img, .mobile .content-right, .mobile .feature img, .content2 {
  width: 100%;
}

/* Nav Section */

.mobile {
  display: none;
}

nav {
  height: 4rem;
}

nav .cntr {
  align-items: center;
  padding-right: .5rem;
}

nav img {
  margin-left: 1rem;
  height: 2rem;
  width: 2rem;
}

nav span, nav h1 {
  text-transform: uppercase;
  font-size: 1.25rem;
}

nav h1 {
  font-weight: 700;
  color: rgba(68, 68, 68, 1);
}

nav span {
  font-weight: 500;
  color: rgba(136, 136, 136, 1);
}

nav ul {
  list-style: none;
  height: 100%;
}

nav li {
  padding: 0rem .25rem;
  margin-right: .5rem;
  height: inherit;
}

nav li, nav li a {
  line-height: 3.5rem;
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  transition: all 250ms ease 0ms;
}



/* Banner Section */

.bnnr {
  background-color: rgba(211, 211, 211, 1);
}

.box-left {
  width: 60%;
  padding: 2rem 2rem 1.5rem 1.5rem;
}

.bnnr .cntr {
  text-align: left;
  margin: 0rem 20% 0rem .5rem;
}

.bnnr h1 {
  padding: 2rem 0rem;
}

.bnnr h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4em;
}

.cntr a {
  text-decoration: none;
}

.btn {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(73, 73, 73, 1);
  text-align: center;
  padding: 1rem 0rem;
  margin: 2rem 0rem;
  transition: all 250ms ease 0ms;
}

/* Content Section */

.content {
  margin: .2rem 0rem;
}

.content-left {
  width: 60%;
  padding: 2rem 2rem 1.5rem 1.5rem;
}

.content .content-left {
  border-right: 2px solid rgba(232, 232, 232, 1);
}

.content-left h3 {
  padding: 2rem 0rem 1.5rem 0rem;
}

.content-left p {
  padding: 0rem 3rem 2rem 0rem;
}

.subtext {
  margin-bottom: 2rem;
  color: rgba(68, 68, 68, 1);
  font-size: .9rem;
  font-weight: 600;
}

.content-right {
  width: 40%;
}

.feature {
  align-items: center;
  height: 12.75rem;
  padding: 1.5rem 0rem;
  transition: all 250ms ease 0ms;
}

.feature img {
  height: 90%;
}

.feature .info {
  width: 65%;
}


.info {
  padding-left: 1.5rem;
}

.info h2 {
  line-height: 3rem;
}

.info a {
  text-decoration: none;
  color: rgba(30, 144, 200, 1);
}

.info p {
  padding: .4rem 1.2rem .4rem 0rem;
}

.top.feature {
  border-bottom: 2px solid rgba(232, 232, 232, 1);
}

.center {
  margin-top: 2px;
  margin-bottom: 2px;
  border-top: 2px solid rgba(232, 232, 232, 1);
  border-bottom: 2px solid rgba(232, 232, 232, 1);
}

.bottom {
  border-top: 2px solid rgba(232, 232, 232, 1);
}

.mobile .feature {
  border: none;
  height: auto;
  padding: 1rem 1rem 0rem 1rem;
}

.mobile .bottom.feature {
  margin-bottom: 1rem;
}

.mobile .feature .info {
  padding: 0rem;
}

.mobile .feature img {
  height: inherit;
  max-width: 576px;
}

.mobile h2 {
  padding: 1rem;
  line-height: inherit;
}

.mobile p {
  padding: .25rem 1rem;
  font-size: .9rem;
  line-height: 1rem;
}


/* Classes section */

.content2 {
    background-color: rgba(220, 220, 220, 1);
    align-items: center;
}

.content2 h3 {
  margin: 2.5rem 0rem;
}

.classes {
  flex-wrap: wrap;
  max-width: 1400px;
}

.class {
  margin: 0rem 1.5rem;
  width: 24rem;
  margin-bottom: 2rem;
  filter: brightness(75%);
  transition: all 250ms ease 0ms;
}

.class .info {
  margin: 0rem;
  padding: 1rem 1rem 1.5rem 1rem;
}

.class .info h2 {
  line-height: 2rem;
}

.class img {
  width: inherit;

}

/* Thesis exhibit */

.thesis {
  margin: 2rem 0rem;
  text-align: center;
}

.content-left h2 {
  padding: 1.5rem 0rem;
}

/* Footer */

footer {
  align-items: center;
  padding-bottom: 2rem;
  margin: 0rem .5rem;
  border-top: 2px solid rgba(232, 232, 232, 1);
}

footer ul {
  flex-direction: row;
}

footer li a {
  padding: 1rem 2rem 0rem 0rem;
  text-decoration: none;
  color: rgba(51, 51, 51, 1);
}

footer p {
  font-size: 1rem;
  padding: 1rem 0rem 1rem 1.5rem;
}

nav li:hover {
  background-color: rgba(232, 232, 232, 1);
}

.btn:hover {
  background-color: rgba(42, 42, 42, 1);
}

.feature:hover {
  background-color: rgba(232, 232, 232, 1);
}


/* PC Effects */

@media only screen and (min-width: 766px) {
  nav li:hover {
    background-color: rgba(232, 232, 232, 1);
  }

  .btn:hover {
    background-color: rgba(42, 42, 42, 1);
  }

  .feature:hover {
    background-color: rgba(232, 232, 232, 1);
  }

  .class:hover {
    filter: brightness(105%);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 4px 6px 30px 2px rgba(161, 161, 161, 1);
  }

}

/* Low Res PC */

@media only screen and (max-width: 1050px) and (min-width: 766px) {
  .bnnr .cntr {
    margin: 0rem 5% 0rem .5rem
  }

  .feature img {
    height: 75%;
  }

  .feature {
    padding: 0rem;
  }

  .info {
    padding-left: 1rem;
  }

  .class {
    width: 15rem;
  }

  h1 {
    font-size: 2.75rem;
    line-height: 2.5rem;
  }

  .bnnr h2, h2 {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }

  .info h2 {
    line-height: 2rem;
  }

  .content-left h3, h3 {
    font-size: 2rem;
    padding: 1.5rem 0rem 1rem 0rem;
  }

  .content2 h3, .thesis {
    margin: .5rem 0rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .info p {
    font-size: .75rem;
    line-height: 1rem;
  }

}

/* Tablet & Mobile */

@media only screen and (max-width: 765px) {
  .mobile {
    display: flex;
  }

  .mobile .cntr,  .bnnr .top, .bnnr .cntr, .content, .class, .exhibit.content-left {
    width: 100%;
  }

  .mobile .cntr {
    justify-content: space-around;
  }

  .mobile .cntr img:hover {
    background-color: rgba(232, 232, 232, 1);
}



  .pc {
    display: none;
  }

  .bnnr, .content {
    flex-direction: column;
  }

  .feature .info {
    text-align: center;
  }

  .bnnr .top, .bnnr .cntr, .content {
    padding: 0rem;
    margin: 0rem;
  }

  h1, .bnnr h1 {
    font-size: 2rem;
    padding: 1rem;
  }

  h2, .bnnr h2 {
    font-size: 1.1rem;
    padding: .5rem 1rem;
  }

  .btn {
    margin: 1rem;
  }

  .lower.content-left {
    display: none;
  }

  .desktop {
    display: none;
  }

  .content2.lower {
    background-color: white;
    border-top: 1px solid rgba(211, 211, 211, 1);
  }

  .content2 h3, .thesis {
    font-size: 2rem;
    margin: 1rem 0rem;
  }

  .class {
    margin: 0rem 1rem .5rem 1rem;
    filter: brightness(100%);
  }

  .class img, .class p {
    display: none;
  }

  .class .info {
    padding: .75rem 1rem;
    background-color: rgba(200, 200, 200, 1);
  }

  .class h2 {
    padding: 0rem;
  }

  .class:hover {
    filter: brightness(120%);
    box-shadow: 0px 1px 5px black;
  }

  .mobile h2 {
    padding: .5rem 0rem;
  }

  .exhibit.content-left {
    padding: 0rem 0rem 1rem 0rem;
  }

  .exhibit h2, .exhibit p {
    display: none;
  }

  footer {
    border: none;
    padding: .5rem 0rem 1rem 1rem;
    margin: 0rem;
  }

  footer p {
    padding: 0rem;
    font-size: .8rem;
  }

  footer ul {
    display: none;
  }

  p {
    font-size: .8rem;
  }
}

/*commit again for github, take 2*/
