html {
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 400;
}

/*borders to see elements*/
div, nav, header, img, span {
  border: 1px solid gray;
}

/* Text Elements */

h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2em;
}

h2 {
  color: rgba(0, 0, 0, .7);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4em;
}

h3 {
  color: rgba(0, 0, 0, .7);
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 1.2em;
}

h4 {

}

h5 {

}

h6 {

}

p {
  color: rgba(0, 0, 0, .6);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.9rem;
  letter-spacing: .025rem;
}

header {

}

/* Nav Section */

.mobile {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 4rem;
}

nav .cntr {
  display: flex;
  align-items: center;
  padding-right: .5rem;
}

nav img {
  margin-left: 1rem;
  height: 2rem;
  width: 2rem;
}

nav span, nav h1 {
  text-transform: uppercase;
  font-size: 1.25rem;
}

nav h1 {
  font-weight: 700;
  color: #444;
}

nav span {
  font-weight: 500;
  color: #888;
}

nav ul {
  list-style: none;
}

nav li {
  margin-right: 1rem;
}

nav li, nav li a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

/* Banner Section */

.bnnr {
  background-color: lightgray;
  display: flex;
  width: 100%;
}

.bnnr img {
  width: 60%;
  height: 100%;
  margin: 2rem 1.5rem;
}

.bnnr .cntr {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin: 0rem 10% 0rem .5rem;
}

.bnnr h1 {
  padding: 2rem 0rem;
}

.bnnr h2 {
  color: rgba(0, 0, 0, .7);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4em;
}

.btn {
  font-size: 1.2rem;
  color: white;
  background-color: rgba(0, 0, 0, .65);
  text-align: center;
  padding: 1rem 0rem;
  margin: 2rem 0rem;
}

/* Content Section */

.content {
  display: flex;
}

.content-left {
  display: flex;
  flex-flow: column wrap;
  width: 60.1%;
  padding: 2rem 2rem 1.5rem 1.5rem;
}

.content-left h3 {
  padding: 2rem 0rem 1.5rem 0rem;
}

.content-left p {
  padding: 0rem 3rem 2rem 0rem;
}

.subtext {
  margin-bottom: 2rem;
  color: rgba(0, 0, 0, .8);
  font-size: .9rem;
  font-weight: 600;
}

.feature {

}

.content.right {
  display: flex;
}









/* Mobile */

@media only screen and (max-width: 650px) {
  .mobile {
    display: flex;
  }

  .mobile .cntr {
    width: 100%;
    justify-content: space-around;
  }

  .pc {
    display: none;
  }
}
