html {
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 400;
}

/*borders to see elements
div, nav, header, img, span {
  border: 1px solid green;
}*/

/* Text Elements */

h1 {
  color: #222;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2em;
}

h2 {
  color: #444;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4em;
}

h3 {
  color: #333;
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 1.2em;
}

h4 {
  font-size: 1.2rem;
}

h5 {

}

h6 {

}

p {
  color: rgba(0, 0, 0, .6);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.9rem;
  letter-spacing: .025rem;
}

header {

}

/* Nav Section */

.mobile {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 4rem;
}

nav .cntr {
  display: flex;
  align-items: center;
  padding-right: .5rem;
}

nav img {
  margin-left: 1rem;
  height: 2rem;
  width: 2rem;
}

nav span, nav h1 {
  text-transform: uppercase;
  font-size: 1.25rem;
}

nav h1 {
  font-weight: 700;
  color: #444;
}

nav span {
  font-weight: 500;
  color: #888;
}

nav ul {
  list-style: none;
  height: 100%;
}

nav li {
  padding: 0rem .25rem;
  margin-right: .5rem;
  height: inherit;
}

nav li, nav li a {
  line-height: 3.5rem;
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
  color: black;
  transition: all 250ms ease 0ms;
}

nav li:hover {
  background-color: rgba(0, 0, 0, .09);
}

/* Banner Section */

.bnnr {
  background-color: lightgray;
  display: flex;
  width: 100%;
}

.box-left {
  width: 60%;
  padding: 2rem 2rem 1.5rem 1.5rem;
}

.bnnr .cntr {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin: 0rem 20% 0rem .5rem;
}

.bnnr h1 {
  padding: 2rem 0rem;
}

.bnnr h2 {
  color: rgba(0, 0, 0, .7);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4em;
}

.cntr a {
  text-decoration: none;
}

.btn {
  font-size: 1.2rem;
  color: white;
  background-color: rgba(0, 0, 0, .65);
  text-align: center;
  padding: 1rem 0rem;
  margin: 2rem 0rem;
  transition: all 250ms ease 0ms;
}

.btn:hover {
  background-color: rgba(0, 0, 0, .8);
}

/* Content Section */

.content {
  display: flex;
  margin: .2rem 0rem;
  width: 100%;
  justify-content: center;
}

.content-left {
  display: flex;
  flex-grow: 1;
  flex-flow: column wrap;
  width: 60%;
  padding: 2rem 2rem 1.5rem 1.5rem;
}

.content .content-left {
  border-right: 2px solid rgba(0, 0, 0, .09);
}

.content-left h3 {
  padding: 2rem 0rem 1.5rem 0rem;
}

.content-left p {
  padding: 0rem 3rem 2rem 0rem;
}

.content-left img {
  width: 100%;
}

.subtext {
  margin-bottom: 2rem;
  color: rgba(0, 0, 0, .8);
  font-size: .9rem;
  font-weight: 600;
}

.content-right {
  display: flex;
  flex-flow: column wrap;
  width: 40%;
}

.top.content-right {
  justify-content: center;
}

.feature {
  display: flex;
  align-items: center;
  height: 12.75rem;
  padding: 1.5rem 0rem;
  transition: all 250ms ease 0ms;
}

.feature img {
  height: 90%;
}

.feature .info {
  width: 65%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.feature:hover {
  background-color: rgba(0, 0, 0, .09);
}

.info {
  padding-left: 1.5rem;
}

.info h2 {
  line-height: 3rem;
}

.info a {
  text-decoration: none;
  color: dodgerblue;
}

.info p {
  padding: .4rem 1.2rem .4rem 0rem;
}

.top {
  border-bottom: 2px solid rgba(0, 0, 0, .09);
}

.center {
  margin-top: 2px;
  margin-bottom: 2px;
  border-top: 2px solid rgba(0, 0, 0, .09);
  border-bottom: 2px solid rgba(0, 0, 0, .09);
}

.bottom {
  border-top: 2px solid rgba(0, 0, 0, .09);
}

/* Classes section */

.content2 {
    display: flex;
    width: 100%;
    background-color: gainsboro;
    flex-direction: column;
    align-items: center;
}

.content2 h3 {
  margin: 2.5rem 0rem;
}

.classes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 1400px;
}

.class {
  margin: 0rem 1.5rem;
  width: 24rem;
  background-color: white;
  margin-bottom: 2rem;
}

.class .info {
  margin: 0rem;
  border: 0px;
  padding: 1rem 1rem 1.5rem 1rem;
}

.class .info h2 {
  line-height: 2rem;
}

.class img {
  width: inherit;
}

/* Thesis exhibit */

.thesis {
  margin: 2rem 0rem;
  text-align: center;
}

.video {
  object-fit: cover;
}




/* Mobile */

@media only screen and (max-width: 650px) {
  .mobile {
    display: flex;
  }

  .mobile .cntr {
    width: 100%;
    justify-content: space-around;
  }

  .pc {
    display: none;
  }
}



/* Change all font colors to COLOR rather than TRANSPARENCY before final */
